.order-confirmation {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.close-modal {
  align-self: start;
}
.user-orders {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
.user-orders .btn {
  align-self: center;
}
.order-wrapper li {
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
}
.order-wrapper li span {
  font-weight: bold;
}
