.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  margin-bottom: 2rem;
}
.search img {
  object-fit: cover;
  height: 11em;
  margin-bottom: 2rem;
}
.search form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.search form div,
.search form input {
  margin: 1rem 0;
}
.search label input {
  margin-left: 0.5rem;
}
.guest-count {
  margin-top: 3rem;
  text-align: center;
}

@media only screen and (min-width: 1280px) {
}
