.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  margin-bottom: 2rem;
}
.search img {
  object-fit: cover;
  height: 11em;
}
.search form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.search form div,
.search form input {
  margin-top: 1rem;
}
.search label input {
  margin-left: 0.5rem;
}
.date-error {
  color: rgb(175, 5, 5);
  font-size: 1rem;
  margin-left: 1rem;
}
