header {
  grid-area: header;
  background-color: #203040;
  color: #fff;
  align-items: center;
  padding: 1.2rem;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  flex: 1;
}
header nav ul {
  flex: 0.2;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
header a {
  color: #fff;
}
