.login-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 34px;
}
.login-form {
  display: flex;
  flex-flow: column nowrap;
}
.login-form .btn {
  margin-top: 32px;
}
