* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ff8000;
  text-decoration: none;
}
li {
  list-style: none;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-family: "Montserrat", "Sans-serif";
  font-size: 1.2rem;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
}

.btn {
  border: none;
  background-color: #ff8000;
  color: #203040;
  cursor: pointer;
}
.btn-danger {
  background-color: #db4e23;
  color: #fff;
}
.btn-lg {
  width: max-content;
  padding: 0.5rem 2.5rem;
}
.btn-xlg {
  width: 20rem;
  padding: 0.5rem 2.5rem;
}
.error {
  color: rgb(175, 5, 5);
  font-size: 0.8rem;
  font-weight: bold;
}
ul {
  padding: 0;
}

@media only screen and (min-width: 1280px) {
  main {
    padding: 0 18rem;
  }
}
